<article class="<%= entry_classes(entry) %>">
  <header>
    <h1 class="entry-title"><%= formatted_title(entry) %></h1>
  </header>
  <section class="entry-content<%= " empty" if entry.body.blank? %>">
    <%= auto_link(entry.body) %>
  </section>
  <section class="meta">
    <% unless entry.keywords.empty? -%>
    <ul class="keywords">
      <% entry.keywords.each do |keyword| %>
      <li class="tag <%= sanitized_keyword(keyword) %>">
        <%= link_to(keyword.name, keyword_path(keyword)) %>
      </li>
      <% end %>
    </ul>
    <% end -%>
    <p class="signoff">
      <span class="published updated">
        <%= entry.created_at.strftime("%e %B, 0%Y") %>
      </span> •
      <% if !entry.bookmark_url.blank? -%>
      <%= link_to(t("entries.bookmark_url"), entry.bookmark_url,
          { :rel => "external" }) %>
      <% end -%>
      <%= link_to("⁋", entry_path(entry), { :class => "pilcrow",
          :rel => "bookmark" }) %>
    </p>
  </section>

  <% if entry.has_locations? -%>
    <%= generate_map(entry.locations, "entry_#{entry.id}") %>
  <% end -%>
</article>
